{% if shortDescription %}
<h3>Lyhyt kuvaus</h3>
<article data-type="kunta-api-embedded-service-channel-component" data-service-channel-id="{{ serviceChannelId }}" data-service-channel-component="ShortDescription">{{ shortDescription }}</article>
{% endif %}

{% if description %}
<h3>Kuvaus</h3>
<article data-type="kunta-api-embedded-service-channel-component" data-service-channel-id="{{ serviceChannelId }}" data-service-channel-component="Description">{{ description }}</article>
{% endif %}


{% if serviceHours|length > 0 %}
<h3>Aukioloajat</h3>
<article data-type="kunta-api-embedded-service-channel-component" data-service-channel-id="{{ serviceChannelId }}" data-service-channel-component="ServiceHours">
  {% for serviceHour in serviceHours %}
    <span>{{ serviceHour.displayable }}</span>
  {% endfor %}  
</article>
{% endif %}

{% if urls|length > 0 %}

{% if urls|length > 1 %}
<h3>Verkko-osoiteet</h3>
{% else %}
<h3>Verkko-osoite</h3>
{% endif %}
<article data-type="kunta-api-embedded-service-channel-component" data-service-channel-id="{{ serviceChannelId }}" data-service-channel-component="Urls">
  {% for url in urls %}
    <span>{{ url }}</span>
  {% endfor %}  
</article>
{% endif %}

{% if supportContacts|length > 0 %}
<h3>Käytön tuki</h3>

<article data-type="kunta-api-embedded-service-channel-component" data-service-channel-id="{{ serviceChannelId }}" data-service-channel-component="SupportContacts">
  {% for supportContact in supportContacts %}
  {% if supportContact.email %}
  <p>
    <label>Sähköposti</label>
    <span>{{ supportContact.email }}</span>
  </p>
  {% endif %}
  {% if supportContact.phone %}
  <p>
    <label>Puhelin</label>
    <span>{{ supportContact.phone }}</span>
    {% if supportContact.phoneChargeDescription %}
    <span>{{ supportContact.phoneChargeDescription }}</span>
    {% endif %}
  </p>
  {% endif %}
  {% if supportContact.language %}
  <p>
    <label>Kieli</label>
    <span>{{ supportContact.language }}</span>
  </p>
  {% endif %}
  {% endfor %}  
</article>

{% endif %}


<h3>Tunnistautumisen tiedot</h3>

{% if requiresAuthentication %}
<p>Palvelu vaatii verkkoasiointitunnistautumisen</p>
{% else %}
<p>Palvelu ei vaadi verkkoasiointitunnistautumista</p>
{% endif %}

{% if requiresSignature %}
<p>Palvelu vaatii sähköisen allekirjoituksen</p>
{% else %}
<p>Palvelu ei vaadi sähköistä allekirjoitusta</p>
{% endif %}