{% if shortDescription %}
<h3>Lyhyt kuvaus</h3>
<article data-type="kunta-api-embedded-service-component" data-service-id="{{ serviceId }}" data-service-component="ShortDescription">{{ shortDescription }}</article>
{% endif %}

{% if description %}
<h3>Kuvaus</h3>
<article data-type="kunta-api-embedded-service-component" data-service-id="{{ serviceId }}" data-service-component="Description">{{ description }}</article>
{% endif %}

{% if serviceUserInstruction %}
<h3>Toimintaohjeet</h3>
<article data-type="kunta-api-embedded-service-component" data-service-id="{{ serviceId }}" data-service-component="ServiceUserInstruction">{{ serviceUserInstruction }}</article>
{% endif %}

{% if languages %}
<h3>Kielet, joilla palvelu on saatavilla</h3>
<article data-type="kunta-api-embedded-service-component" data-service-id="{{ serviceId }}" data-service-component="Languages">
  {% for language in languages %}
    <span>{{ language }}</span>
  {% endfor %}  
</article>
{% endif %}