extends ../layout/front-page.pug

block content
  // Main
  article#main
    header.special.container
      span.icon.fa.fa-heart-o
      h2
        strong Mikkelissä 
        | voi asua lähellä luontoa,
        br
        | moderneista palveluista tinkimättä.
      p Ihmisten rento elämänasenne, toimiva kaupunkikeskusta, Saimaan läheisyys ja luonnonkauniit taajamat tekevät Mikkelistä Mikkelin.
      p Mikkeli on virkeä lähes 55 000 asukkaan kaupunki hyvien liikenneyhteyksien varrella Saimaan rannalla, vain parin tunnin ajomatkan päässä pääkaupunkiseudusta.     
    // One
    section.wrapper.style2.container.special-alt
      .row.half
        div(class='6u') !{latestNews.content}
          br
          footer
            ul.buttons
              li
                a.button(href=latestNews.link) Lue lisää
        div(class='6u skel-cell-important')
          header
            h2 #{latestNews.title}
    // Two
    section.wrapper.style1.container.special
      .row
        div(class='4u')
          section
            span.icon.featured.fa-gavel
            header
              h3 Osallistu ja vaikuta
            p
              | Ole mukana kehittämässä kaupunkia ja sen toimintaa.
            ul.buttons
              li
                a.button(href='#') Lue lisää
        div(class='4u')
          section
            span.icon.featured.fa-users
            header
              h3 Avoimet työpaikat
            p
              | Olisiko Mikkelin kaupunki sinun tulevaisuuden työnantajasi?
            ul.buttons
              li
                a.button(href='#') Lue lisää
        div(class='4u')
          section
            span.icon.featured.fa-university
            header
              h3 Kuulutukset
            p
              | Tarkista Mikkelin kaupungin viimeaikaiset kuulutukset.
            ul.buttons
              li
                a.button(href='#') Lue lisää
    // Three
    section.wrapper.style3.container.special
      header.major
        h2
          strong Mikkelissä 
          | tapahtuu
      .row
        each article, index in news
          if index < 4    
            div(class='6u')
              section
                header
                  h3 #{article.title}
                div !{article.content}
                br
                ul.buttons
                  li
                    a.button(href=article.link) Lue lisää
                br